<% provide(:title, 'Home') %>
    <h1>Sample App Home</h1>
    <p>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
	
	<p>
		<%= link_to "About", action: "about" %> </br>
		<%= link_to "Help", action: "help" %> </br>
		<%= link_to "Contact", action: "contact" %> </br>

	</p>
